.menu-wrapper {

  &__profile {
    padding: 26px;

    &__headline {
      display: flex;
    }

    &__icon {
      transform: scale(2) translateY(8px);
    }

    &__username {
      padding-left: 26px;
      margin-bottom: 0;
    }

    &__email {
      font-style: italic;
      color: gray;
      padding-left: 26px;
    }
  }

  .sign-out-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
  }
}
