<div class="menu-wrapper">
  <div class="menu-wrapper__profile">
    <div class="menu-wrapper__profile__headline">
      <mat-icon class="menu-wrapper__profile__icon">account_circle</mat-icon>
      <div>
        <p class="menu-wrapper__profile__username mat-title">{{username}}</p>
        <p class="menu-wrapper__profile__email mat-caption">{{email}}</p>
      </div>
    </div>
  </div>
  <div class="sign-out-wrapper">
    <button mat-raised-button color="primary" (click)="signOut()">Sign out</button>
  </div>
  <mat-divider></mat-divider>
  <app-friend-finder></app-friend-finder>
  <mat-divider></mat-divider>
  <app-friend-list></app-friend-list>
</div>
