<div class="container">
  <div class="login-box">
    <div class="login-box__input">
      <div class="login-box__input__login" *ngIf="method === 'login'">
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Username: </mat-label>
          <input matInput [(ngModel)]="loginInfo.username">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Password: </mat-label>
          <input matInput type="password" [(ngModel)]="loginInfo.passwordHash">
        </mat-form-field>
      </div>
      <div class="login-box__input__register" *ngIf="method === 'register'">
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Username: </mat-label>
          <input matInput [(ngModel)]="registerInfo.username">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Email: </mat-label>
          <input matInput type="email" [(ngModel)]="registerInfo.email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Password: </mat-label>
          <input matInput type="password" [(ngModel)]="registerInfo.passwordHash">
        </mat-form-field>
      </div>
      <div class="login-box__stay-logged">
        <mat-checkbox (change)="setStayLoggedIn()" [checked]="stayLogged" *ngIf="method === 'login'">Stay logged in</mat-checkbox>
      </div>
      <div class="login-box__login-button">
        <button mat-raised-button color="primary" (click)="submitForm()">{{method === 'login' ? 'Login' : 'Register'}}</button>
      </div>
      <div class="login-box__method-toggle">
        <a (click)="toggleMethod()">{{method === 'login' ? 'Register' : 'Login'}}</a>
      </div>
      <div class="login-box__error" *ngIf="errors.length > 0">
        <p class="login-box__error__text" *ngFor="let error of errors">{{error}}</p>
      </div>
      <div class="login-box__register-success">
        <p class="login-box__register-success__text" [ngClass]="{'login-box__register-success__text__not-visible': !isSuccessVisible}">Registration Successful! Please log in</p>
      </div>
    </div>
  </div>
</div>
