.chat-box {
  width: 80vw;
  height: 100vh;
  border: 1px solid black;
  margin: auto;
}

.message-box {
  width: 80vw;
  height: 90%;
  border: 1px solid gray;
  background: gray;
}

.input-box {
  width: 100%;
  height: 10%;
}

.message-input {
  margin: 20px;
}

.drawer-menu {
  width: 20vw;
}

mat-drawer-content {
  overflow: hidden;
}

